<link rel="stylesheet" href="../static/styles/styles.css">
{% extends 'base.html' %}
{% block body %}
    <div class="body">
        <div class="forms">
            <form class="form_by_id" action="/boats" method="POST">
                <label for="form_by_id">Search With ID</label>
                <input type="number" name="search_id" placeholder="ID" class="input">
                <input type="submit" value="Submit" class="input_submit">
            </form>
            <form class="form_by_id" action="/boats" method="POST">
                <label for="form_by_id">Delete With ID</label>
                <input type="number" name="delete_id" placeholder="ID" class="input">
                <input type="submit" value="Submit" class="input_submit">
            </form>
        </div>
        {% if boats == [] %}
            <h2 class="search_result">Nothing has an id of {{id}}</h2> 
        {% else %}
            {% if deleted == True %}
                <h2 class="search_result">Successfully deleted a boat with id of {{id}}</h2> 
            {% elif deleted == False %}
                <h2 class="search_result">Nothing has an id of {{id}}</h2> 
            {% endif %}
            {% for boat in boats %}
                    <ul class="boats form_by_id">
                        <li>ID: {{boat[0]}}</li>
                        <li>Name: {{boat[1]}}</li>
                        <li>Type: {{boat[2]}}</li>
                        <li>Owner ID: {{boat[3]}}</li>
                        <li>Price: {{boat[4]}}</li>
                    </ul>

            {% endfor %}
        {% endif %}
    </div>


{% endblock %}