.body{
    color: #222;
    margin: auto;
}

.btn {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #4CAF50;
}
.btn:hover {
    background-color: #45a049;
}

/* Home Start */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/building.png");
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.hero h1 {
    margin: 3rem;
}

/* Home End */


/* Create Boats Start */

.input_field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input_submit:hover {
    background-color: #45a049;
}

/* Create Boats End */


/* Boats Page Start */

.forms {
    display: flex;
}

.form_by_id {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    background-color: #cbd2e4;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_by_id label {
    font-size: 1.2rem;
    text-align: center;
}

.form_by_id .input {
    width: 100%;
    padding: 12px 20px;
    background-color: #ffffff75;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search_result {
    text-align: center;
    font-weight: 500;
}

.boats {
    list-style: none;
}

.boats li {
    width: 100%;
    background-color: #fff;
    padding: 6px;
    margin: 4px;
    border-radius: 5px;
    font-size: 1.2rem;
}


/* Boats Page End */
